@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 43% 9%;
    --foreground: 0 0% 100%;
    --card: 197 36% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 197 36% 20%;
    --popover-foreground: 0 0% 100%;
    --primary: 152 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 187 100% 42%;
    --secondary-foreground: 0 0% 0%;
    --muted: 197 36% 25%;
    --muted-foreground: 198 16% 73%;
    --accent: 197 36% 28%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 152 100% 50% / 0.2;
    --input: 197 36% 25%;
    --ring: 152 100% 50%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
